/* 
    Document   : MainStyle
    Created on : Mar 7, 2013, 10:44:12 PM
    Author     : dwpyle1
    Description:
        This is the primary Stylesheet for the entire project.  This stylesheet controlls the main layout
        of the project including the wrapper, and content sections.
*/

root { 
    display: block;
    
}
body{
    background:graytext;
    text-align: center;
    margin:0px;
    padding:0px;
    font-family:"Arial Black", Gadget, sans-serif;
}

object{
    overflow: hidden;
}

a,img{
    border:none;
}
#banner{
    opacity: .95;
    background:yellow;
    min-width: 400px;
    margin-left:200px;
    height:50px;
    padding-top:10px;
    position:relative;
    text-align: center;
    font-family:"Arial Black", Gadget, sans-serif;
    font-family: cursive;
}
#leftArea{
    position: absolute;
    left:0px;
    top:0px;
    width:200px;
    background: -moz-linear-gradient(top,  rgba(17,198,186,0.87) 0%, rgba(18,209,193,0.87) 30%, rgba(21,234,209,0.89) 99%, rgba(21,234,209,0.89) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,198,186,0.87)), color-stop(30%,rgba(18,209,193,0.87)), color-stop(99%,rgba(21,234,209,0.89)), color-stop(100%,rgba(21,234,209,0.89))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(17,198,186,0.87) 0%,rgba(18,209,193,0.87) 30%,rgba(21,234,209,0.89) 99%,rgba(21,234,209,0.89) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(17,198,186,0.87) 0%,rgba(18,209,193,0.87) 30%,rgba(21,234,209,0.89) 99%,rgba(21,234,209,0.89) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(17,198,186,0.87) 0%,rgba(18,209,193,0.87) 30%,rgba(21,234,209,0.89) 99%,rgba(21,234,209,0.89) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(17,198,186,0.87) 0%,rgba(18,209,193,0.87) 30%,rgba(21,234,209,0.89) 99%,rgba(21,234,209,0.89) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de11c6ba', endColorstr='#e315ead1',GradientType=0 ); /* IE6-9 */

    height: 100%;
    z-index: 2;
    -moz-box-shadow: inset -5px -5px 5px #888;
    -webkit-box-shadow: inset -5px -5px 5px #888;
    box-shadow: inset -5px -5px 5px #888;
}
#rightArea{
    z-index: 1;
    right:0px;
    top:0px;
    margin-left: 200px;
    background:green;
    min-height: 100px;
    min-width: 400px;
    text-align: left;
    padding:20px;


}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
   opacity: 0.5;
   }

.navigationList{
    text-decoration: none;
    list-style: none;
    margin-left:0px;
    padding-left: 0px;
    
}
.navigationList li{
    text-decoration: none;
    list-style: none;
    margin-left:0px;
    padding-left:0px;
    width:100%;
    height: 35px;
    text-align: center;
    margin:0px;
}
.navigationList li a{
    text-decoration: none;
    color:black;
    text-align: center;
    display: block;
    width:100%;
    height:100%;
    background:yellow;
    -webkit-box-shadow: inset 0 2px 1px -1px black;
    -moz-box-shadow: inset 0 2px 1px -1px black;
    box-shadow: inset 0 2px 1px -1px black;
    
    
}
.navigationList li a:hover{
    background:green;
    text-align: center;
    -webkit-box-shadow: inset 0 2px 1px -1px black;
    -moz-box-shadow: inset 0 2px 1px -1px black;
    box-shadow: inset 0 2px 1px -1px black;

    
    
}

.navigationList li .currentPage{
    background:green;
    text-align: center;
    -webkit-box-shadow: inset 0 2px 1px -1px black;
    -moz-box-shadow: inset 0 2px 1px -1px black;
    box-shadow: inset 0 2px 1px -1px black;
}

.adminNavigation {
    display: inline-block;
    text-decoration: none;
    height:30px;
    margin:0px;
}
.adminNavigation li{
    display: inline-block;
    padding:10px;
    margin:0px;
    margin-left: 5px;
    margin-right:5px;
    background:yellow;
}
.adminNavigation a{
    text-decoration: none;
    color:black;
    text-align: center;
    display: block;
    width:100%;
    height:100%;
    background:yellow;
    -webkit-box-shadow: inset 0 2px 1px -1px black;
    -moz-box-shadow: inset 0 2px 1px -1px black;
    box-shadow: inset 0 2px 1px -1px black;
}

#editArea{
    
}
#editArea textArea{
    height:400px;
    width:100%;
}